.footer {
  background-color: #d3cdfa;
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 2px  rgba(0, 0, 0, 0.1);
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-logo img {
  width: 300px;
  height: 75px;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333
}