.App {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

form {
  margin-top: 20px;
}

input[type="text"] {
  margin: 0 0 20px 0;
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 16px;
}

button {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.search-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}


.toggle-button, .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 25vh;
}

.nickname-form {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 300px;
}

.submit-button {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 16px;
}

.message{
  margin: 10px;
}